---
- name: ensure apt_keyrings_dest directory exists
  ansible.builtin.file:
    path: "{{ sing_box_install_apt_keyrings_dest | ansible.builtin.dirname }}"
    state: directory
    mode: "0755"

# $ curl -sL https://sing-box.app/gpg.key | gpg
# pub   rsa4096 2024-03-12 [SC]
#       2C317FBD5D886B4E89BAE8DA6D9152172A2B2F0C
# uid           Project S <contact@sagernet.org>
# sub   rsa4096 2024-03-12 [E]
- name: get apt key from apt_key_url
  ansible.builtin.get_url:
    url: "{{ sing_box_install_apt_key_url }}"
    dest: "{{ sing_box_install_apt_keyrings_dest }}"
    mode: "0644"

- name: add apt repo in DEB822 format
  vars:
    # ansible_architecture return x86_64,
    # but $(dpkg --print-architecture) return = amd64
    deb_architectures:
      x86_64: amd64
  ansible.builtin.deb822_repository:
    name: "{{ sing_box_install_apt_repo }}"
    state: present
    enabled: true
    types: deb
    uris: "{{ sing_box_install_apt_repo_uris }}"
    suites: "{{ sing_box_install_apt_repo_suites }}"
    components: "{{ sing_box_install_apt_repo_components }}"
    architectures: "{{ deb_architectures[ansible_architecture] }}"
    signed_by: "{{ sing_box_install_apt_keyrings_dest }}"

- name: add apt package pinning
  ansible.builtin.copy:
    dest: "/etc/apt/preferences.d/99{{ sing_box_install_apt_repo }}"
    content: |
      Package: *
      Pin: origin {{ sing_box_install_apt_repo_uris | ansible.builtin.urlsplit('hostname') }}
      Pin-Priority: 900
    mode: "0644"

- name: install sing-box package
  ansible.builtin.apt:
    name: "{{ sing_box_install_apt_repo_packages }}"
    update_cache: true
    state: present

- name: ensure sing_box_user exists
  ansible.builtin.import_tasks: sing_box_user.yml

- name: template systemd service
  ansible.builtin.import_tasks: systemd.yml
