---
- name: ensure proxy group exists
  ansible.builtin.group:
    name: "{{ sing_box_group.name }}"
    gid: "{{ sing_box_group.gid | int }}"
    state: present

- name: ensure proxy user exists
  ansible.builtin.user:
    name: "{{ sing_box_user.name }}"
    uid: "{{ sing_box_user.uid | int }}"
    home: "{{ sing_box_user.home }}"
    shell: "{{ sing_box_user.shell }}"
    group: "{{ sing_box_group.name }}"
    state: present

- name: create drop-in directory
  ansible.builtin.file:
    path: "{{ directory }}"
    owner: "{{ sing_box_user.name }}"
    group: "{{ sing_box_group.name }}"
    mode: "0700"
    state: directory
  loop:
    - "{{ sing_box_etc_dir }}"
    - "{{ sing_box_log_dir }}"
    - "{{ sing_box_state_dir }}"
    - "{{ sing_box_config_dir }}"
  loop_control:
    loop_var: directory
