---
# defaults file for sing_box_config
# 安装来源: [local, pypi, testpypi]
sing_box_config_install_source: local
sing_box_config_pip_extra_args:
  pypi: ""
  testpypi: "--index-url=https://test.pypi.org/simple/"

# 可选: 启用订阅 URL 可访问性检查
sing_box_config_validate_subscription_urls: false

# sing_box_config_subscriptions 的内容将会原样写入 {{ sing_box_state_dir }}/config/subscriptions.json, 而 {{ sing_box_state_dir }}/config/subscriptions.json 会作为 sing-box-config 程序的输入文件
sing_box_config_subscriptions: {}
#   provider_example_1:
#     type: SIP002
#     enabled: true
#     url: "https://sub.example.com/api/v1/client/subscribe?token=YOUR_TOKEN_HERE"
#     exclude:
#       - "过期|Expire|\\d+(\\.\\d+)? ?GB|流量|Traffic|QQ群|官网|Premium"
#   provider_example_2:
#     type: SIP002
#     enabled: false
#     url: "https://sub.example.net/api/v1/client/subscribe?token=YOUR_TOKEN_HERE"
#     exclude:
#       - "过期|Expire|\\d+(\\.\\d+)? ?GB|流量|Traffic|QQ群|官网|Premium"

# 用于从外部传入不同的 template 覆盖 templates/base.json.j2
sing_box_config_base_template: base.json.j2

# DNS Internal Configuration
sing_box_config_dns_internal: []

# Custom Rules
sing_box_config_custom_internal_rules: []
sing_box_config_custom_direct_rules: []

# 对应 /etc/sing-box/config.json 中 experimental 配置项
sing_box_config_clash_api_secret: ""
sing_box_config_clash_api_external_controller: "0.0.0.0:9090"

# 覆盖 sing-box-config-updater 的 systemd timer 与 systemd service 状态
# 用于应对当前大多数"服务商"开始订阅链接强制"阅后即焚"
# choices: [reloaded, restarted, started, stopped]
sing_box_config_updater_timer_enabled: true
sing_box_config_updater_timer_interval: 1d
sing_box_config_updater_timer_state: started
sing_box_config_updater_service_state: started

# ansible.builtin.systemd_service active state
sing_box_config_updater_service_active_state: ['started', 'restarted']

# uv build directory
sing_box_config_uv_build_dir: "{{ playbook_dir | ansible.builtin.dirname }}"
