[defaults]
# execution
forks=30
timeout=60

# https://docs.ansible.com/ansible-core/2.17/reference_appendices/interpreter_discovery.html
interpreter_python=auto_silent
gathering=implicit

retry_files_enabled=False

# inventory
inventory=./inventory,~/.ansible/inventory
inventory_ignore_extensions=~, .orig, .bak, .retry, .pyc, .pyo, .creds, .gpg
# https://github.com/ansible/ansible/issues/56930 (to ignore group names with - and .)
force_valid_group_names=ignore

# paths
roles_path=./roles:~/.ansible/roles
collections_path=./.ansible/collections:~/.ansible/collections

# output
callbacks_enabled=ansible.posix.profile_tasks, ansible.posix.timer

result_format=yaml
stdout_callback=default
bin_ansible_callbacks=True

nocows=True
pretty_results=True
deprecation_warnings=True

# ssh
host_key_checking=False
display_skipped_hosts=True

[inventory]
ignore_patterns=artifacts, credentials

[ssh_connection]
pipelining=True
control_path_dir=~/.ansible/cp
ssh_args=-o ControlMaster=auto \
         -o ControlPersist=10m \
         -o ServerAliveInterval=30 \
         -o ServerAliveCountMax=6 \
         -o ConnectionAttempts=5
