---
- name: template sing-box-config config/base.json on remote
  ansible.builtin.template:
    src: "{{ sing_box_config_base_template }}"
    dest: "{{ sing_box_config_base_dest }}"
    owner: "{{ sing_box_user.name }}"
    group: "{{ sing_box_group.name }}"
    mode: "0600"

- name: write sing-box-config config/subscriptions.json to remote
  ansible.builtin.copy:
    content: "{{ sing_box_config_subscriptions | ansible.builtin.to_nice_json(indent=4, ensure_ascii=false, sort_keys=false) }}"
    dest: "{{ sing_box_config_subscriptions_dest }}"
    owner: "{{ sing_box_user.name }}"
    group: "{{ sing_box_group.name }}"
    mode: "0600"

- name: try to copy client outbounds from sing_box_outbounds_src
  ansible.builtin.copy:
    src: "{{ sing_box_outbounds_src }}"
    dest: "{{ sing_box_outbounds_dest }}"
    owner: "{{ sing_box_user.name }}"
    group: "{{ sing_box_group.name }}"
    mode: "0600"
  failed_when: false

- name: template systemd timer on remote
  ansible.builtin.template:
    src: "{{ template }}"
    dest: "{{ ['/', template] | ansible.builtin.path_join | ansible.builtin.splitext | first }}"
    mode: "0644"
  loop:
    - etc/systemd/system/sing-box-config-updater.service.j2
    - etc/systemd/system/sing-box-config-updater.timer.j2
  loop_control:
    loop_var: template
  notify:
    - systemctl daemon-reload

- name: flush handlers to ensure daemon-reload completes
  ansible.builtin.meta: flush_handlers

- name: ensure sing-box-config-updater.timer state
  ansible.builtin.systemd_service:
    name: sing-box-config-updater.timer
    state: "{{ sing_box_config_updater_timer_state }}"
    enabled: "{{ sing_box_config_updater_timer_enabled }}"

# 是否手动执行 sing-box-config 生成/更新 /etc/sing-box/config.json
# 这一步配置文件一旦有变更会被 sing-box-reload.path 监听到从而触发 reload, 所以不需要添加 notify restart
- name: update /etc/sing-box/config.json if requested
  when: sing_box_config_updater_service_state in sing_box_config_updater_service_active_state
  ansible.builtin.systemd_service:
    name: sing-box-config-updater.service
    state: started

# sing-box 服务状态与 nftables 状态相对独立
- name: ensure sing-box.service is started
  ansible.builtin.systemd_service:
    name: sing-box.service
    state: started
    enabled: true
