---
# handlers file for sing_box_config
- name: systemctl daemon-reload
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: ensure sing-box working directory ownership
  ansible.builtin.file:
    path: "{{ directory }}"
    owner: "{{ sing_box_user.name }}"
    group: "{{ sing_box_group.name }}"
    recurse: true
  loop:
    - "{{ sing_box_etc_dir }}"
    - "{{ sing_box_log_dir }}"
    - "{{ sing_box_state_dir }}"
  loop_control:
    loop_var: directory
