[Unit]
Description=sing-box-config updater

[Service]
Type=oneshot
WorkingDirectory={{ singbox_state_dir }}
ExecStart={{ singbox_state_dir }}/.venv/bin/sing-box-config --output {{ singbox_etc_dir }}/config.json
