---
- name: ensure packages is installed
  ansible.builtin.package:
    name:
      - bash
      - curl
      - iproute2
      - nftables
    state: present

- name: ensure required kernel module is loaded
  community.general.modprobe:
    name: "{{ module }}"
    state: present
    persistent: present
  loop:
    - nft_tproxy
    - nft_socket
    - nf_tproxy_ipv4
    - nf_tproxy_ipv6
  loop_control:
    loop_var: module

# should we enable net.ipv4.conf.all.route_localnet=1 ?
- name: ensure ip_forward is enabled (gateway mode only)
  when: (_sing_box_enable_ip_forward | ansible.builtin.bool)
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    ignoreerrors: true
  loop:
    - name: net.ipv4.ip_forward
      value: 1
    - name: net.ipv4.conf.all.proxy_arp
      value: 1
    - name: net.ipv6.conf.all.forwarding
      value: 1

- name: enable tcp_bbr
  when:
    - ansible_kernel is version('4.9.0', '>=')
    - (tcp_bbr_enabled | ansible.builtin.bool)
  block:
    - name: load tcp_bbr module
      community.general.modprobe:
        name: tcp_bbr
        state: present
        persistent: present

    - name: enable tcp_bbr
      ansible.posix.sysctl:
        name: "{{ item.name }}"
        value: "{{ item.value }}"
        state: present
      loop:
        - name: net.core.default_qdisc
          value: fq
        - name: net.ipv4.tcp_congestion_control
          value: bbr

- name: create drop-in directory
  ansible.builtin.file:
    path: "{{ directory }}"
    state: directory
    mode: "0755"
  loop:
    - /etc/netplan
    - /etc/iproute2/rt_tables.d
  loop_control:
    loop_var: directory

- name: template iproute2 rt_tables on remote
  ansible.builtin.template:
    src: etc/iproute2/rt_tables.d/sing_box_tproxy.conf.j2
    dest: /etc/iproute2/rt_tables.d/sing_box_tproxy.conf
    mode: "0644"

- name: template nftables.conf on remote
  ansible.builtin.template:
    src: etc/nftables.conf.j2
    dest: /etc/nftables.conf
    mode: "0755"
  notify:
    - systemctl restart nftables.service

- name: ensure nftables.service enabled
  ansible.builtin.systemd_service:
    name: nftables.service
    enabled: true

- name: install tproxy toggle script (local mode only)
  when: sing_box_mode == 'local'
  ansible.builtin.copy:
    src: usr/local/bin/sing-box-tproxy-toggle.sh
    dest: /usr/local/bin/sing-box-tproxy-toggle.sh
    mode: "0755"

- name: template netplan config on remote (gateway mode only)
  when: (_sing_box_enable_netplan_routing | ansible.builtin.bool)
  ansible.builtin.template:
    src: etc/netplan/99-sing_box_tproxy.yaml.j2
    dest: /etc/netplan/99-sing_box_tproxy.yaml
    mode: "0600"
  notify:
    - netplan apply

- name: ensure sing-box.service is started
  when: (_sing_box_enable_tproxy | ansible.builtin.bool)
  ansible.builtin.systemd_service:
    name: sing-box.service
    state: started
    enabled: true
