[Unit]
Description=sing-box-config updater
Wants=network-online.target sing-box.service
After=network-online.target sing-box.service

[Service]
Type=oneshot
LogNamespace={{ sing_box_log_namespace }}
User={{ sing_box_user.name }}
Group={{ sing_box_group.name }}
WorkingDirectory={{ sing_box_state_dir }}
ExecStart={{ sing_box_state_venv_dir }}/bin/sing-box-config \
    --base {{ base_dest }} \
    --subscriptions {{ subscriptions_dest }} \
    --output {{ sing_box_etc_config_file }}

[Install]
WantedBy=multi-user.target
