[Unit]
Description=sing-box-config updater

[Service]
Type=oneshot
User={{ sing_box_user.name }}
Group={{ sing_box_group.name }}
WorkingDirectory={{ sing_box_state_dir }}
ExecStart={{ sing_box_state_venv_dir }}/bin/sing-box-config --base {{ base_dest }} --subscriptions {{ subscriptions_dest }} --output {{ sing_box_etc_config_file }}
