{%- macro get_dns_config() -%}
{%- set dns_servers = [] -%}

{# Predefined hosts from defaults #}
{%- set _dns_hosts_predefined = sing_box_dns_hosts_predefined | default({}, true) -%}

{# Internal DNS (Merged into static hosts if needed, but really just for dns_hosts) #}
{%- if (sing_box_dns_internal_servers | default([], true)) | length > 0 -%}
    {%- set _ = _dns_hosts_predefined.update({sing_box_dns_internal_tag: sing_box_dns_internal_servers}) -%}
{%- endif -%}

{%- set _ = dns_servers.append({
    "tag": "dns_hosts",
    "type": "hosts",
    "predefined": _dns_hosts_predefined
}) -%}

{# Internal DNS Server Definition #}
{%- if (sing_box_dns_internal_servers | default([], true)) | length > 0 -%}
    {%- set _ = dns_servers.append({
        "type": "udp",
        "tag": sing_box_dns_internal_tag,
        "server": sing_box_dns_internal_tag,
        "server_port": 53,
        "domain_resolver": "dns_hosts"
    }) -%}
{%- endif -%}

{# Public DNS Servers (from defaults) #}
{%- if (sing_box_dns_public_dns_servers | default({}, true)) | length > 0 -%}
    {%- set _ = dns_servers.extend(sing_box_dns_public_dns_servers) -%}
{%- endif -%}

{# DNS Rules #}
{%- set dns_rules = [] -%}

{# https://sing-box.sagernet.org/configuration/route/rule_action/#reject #}
{%- if (sing_box_custom_rejected_rule_set_rules | default([], true)) | length > 0 -%}
    {%- set _ = dns_rules.append({
        "action": "reject",
        "rule_set": [sing_box_custom_rejected_rule_set]
    }) -%}
{%- endif -%}

{%- if (sing_box_custom_internal_rule_set_rules | default([], true)) | length > 0 -%}
    {%- set _ = dns_rules.append({
        "action": "route",
        "rule_set": [sing_box_custom_internal_rule_set],
        "server": sing_box_custom_internal_rule_set_dns
    }) -%}
{%- endif -%}

{%- if (sing_box_custom_bypassed_rule_set_rules | default([], true)) | length > 0 -%}
    {%- set _ = dns_rules.append({
        "action": "route",
        "rule_set": [sing_box_custom_bypassed_rule_set],
        "server": sing_box_custom_bypassed_rule_set_dns
    }) -%}
{%- endif -%}

{%- if (sing_box_basic_dns_rules | default([], true)) | length > 0 -%}
    {%- set _ = dns_rules.extend(sing_box_basic_dns_rules) -%}
{%- endif -%}

{%- set dns_config = {
    "servers": dns_servers,
    "rules": dns_rules,
    "final": sing_box_dns_final,
    "strategy": sing_box_dns_strategy,
    "disable_cache": sing_box_dns_disable_cache,
    "disable_expire": sing_box_dns_disable_expire,
    "independent_cache": sing_box_dns_independent_cache,
    "cache_capacity": sing_box_dns_cache_capacity
} -%}
{{ dns_config | ansible.builtin.to_json }}
{%- endmacro -%}
