{%- macro get_route_config() -%}
{%- set route_rules = [] -%}
{%- set route_rule_sets = [] -%}

{# Helper Macro to Construct Headless Rule Set #}
{%- macro _add_headless_rule_set(tag, rules_var, ip4_var = [], ip6_var = []) -%}
    {%- set _ips = (ip4_var | default([], true)) + (ip6_var | default([], true)) -%}
    {%- set _rules = (rules_var | default([], true)) | list -%}
    {%- if _ips | length > 0 -%}
        {%- set _ = _rules.append({"ip_cidr": _ips}) -%}
    {%- endif -%}
    {%- if _rules | length > 0 -%}
        {{- {
            "tag": tag,
            "type": "inline",
            "format": "source",
            "rules": _rules
        } | ansible.builtin.to_json -}}
    {%- endif -%}
{%- endmacro -%}

{# Rule Sets #}
{# custom-rejected-rule-set #}
{%- set _rejected_rule_sets = [] -%}
{%- set _rejected_rs_json = _add_headless_rule_set(
    sing_box_custom_rejected_rule_set,
    sing_box_custom_rejected_rule_set_rules | default([], true)
) -%}
{%- if (_rejected_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rule_sets.append(_rejected_rs_json | ansible.builtin.from_json) -%}
    {%- set _ = _rejected_rule_sets.append(sing_box_custom_rejected_rule_set) -%}
{%- endif -%}

{# IP Set #}
{# custom-rejected-rule-set-ip #}
{%- set _rejected_ip_rs_json = _add_headless_rule_set(
    sing_box_custom_rejected_rule_set ~ '-ip',
    [],
    sing_box_custom_rejected_ip4 | default([], true),
    sing_box_custom_rejected_ip6 | default([], true)
) -%}
{%- if (_rejected_ip_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rule_sets.append(_rejected_ip_rs_json | ansible.builtin.from_json) -%}
    {%- set _ = _rejected_rule_sets.append(sing_box_custom_rejected_rule_set ~ '-ip') -%}
{%- endif -%}

{# custom-internal-rule-set #}
{%- set _internal_rs_json = _add_headless_rule_set(
    sing_box_custom_internal_rule_set,
    sing_box_custom_internal_rule_set_rules | default([], true)
) -%}
{%- if (_internal_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rule_sets.append(_internal_rs_json | ansible.builtin.from_json) -%}
{%- endif -%}

{# custom-direct-rule-set #}
{%- set _bypassed_rule_sets = [] -%}
{%- set _bypassed_rs_json = _add_headless_rule_set(
    sing_box_custom_bypassed_rule_set,
    sing_box_custom_bypassed_rule_set_rules | default([], true)
) -%}
{%- if (_bypassed_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rule_sets.append(_bypassed_rs_json | ansible.builtin.from_json) -%}
    {%- set _ = _bypassed_rule_sets.append(sing_box_custom_bypassed_rule_set) -%}
{%- endif -%}

{# IP Set #}
{# custom-direct-rule-set-ip #}
{%- set _bypassed_ip_rs_json = _add_headless_rule_set(
    sing_box_custom_bypassed_rule_set ~ '-ip',
    [],
    sing_box_custom_bypassed_ip4 | default([], true),
    sing_box_custom_bypassed_ip6 | default([], true)
) -%}
{%- if (_bypassed_ip_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rule_sets.append(_bypassed_ip_rs_json | ansible.builtin.from_json) -%}
    {%- set _ = _bypassed_rule_sets.append(sing_box_custom_bypassed_rule_set ~ '-ip') -%}
{%- endif -%}

{# https://github.com/MetaCubeX/meta-rules-dat/tree/sing #}
{%- for item in sing_box_remote_rule_sets -%}
    {%- set path = item.path -%}
    {%- set _ext = path.split('.') | last -%}
    {%- set _tag = path | replace('/', '-') | replace('.' ~ _ext, '') -%}
    {%- set _format = 'binary' if _ext == 'srs' else 'source' -%}
    {%- set _ = route_rule_sets.append({
        "tag": _tag,
        "type": "remote",
        "format": _format,
        "url": sing_box_remote_rule_set_url_prefix ~ path,
        "update_interval": sing_box_remote_rule_set_update_interval
    }) -%}
{%- endfor -%}

{# Rules #}
{# Custom Rejected Rules #}
{# outbound REJECT/DIRECT defined in templates/includes/outbounds.j2 #}
{%- if (_rejected_rule_sets | default([], true)) | length > 0 -%}
    {%- set _ = route_rules.append({
        "action": "route",
        "rule_set": _rejected_rule_sets,
        "outbound": "REJECT"
    }) -%}
{%- endif -%}

{# Basic Rules #}
{%- set _ = route_rules.extend(sing_box_basic_route_rules | default([], true)) -%}

{# Custom Rules #}
{%- if (_internal_rs_json | default('', true)) | length > 0 -%}
    {%- set _ = route_rules.append({
        "action": "route",
        "rule_set": [sing_box_custom_internal_rule_set],
        "outbound": "DIRECT"
    }) -%}
{%- endif -%}

{%- if (_bypassed_rule_sets | default([], true)) | length > 0 -%}
    {%- set _ = route_rules.append({
        "action": "route",
        "rule_set": _bypassed_rule_sets,
        "outbound": "DIRECT"
    }) -%}
{%- endif -%}

{# Filtering Rules #}
{%- set _ = route_rules.extend(sing_box_filtering_route_rules | default([], true)) -%}

{%- set route_config = {
    "rules": route_rules,
    "rule_set": route_rule_sets,
    "final": sing_box_route_final,
    "auto_detect_interface": sing_box_route_auto_detect_interface,
    "default_domain_resolver": sing_box_route_default_domain_resolver
} -%}
{{ route_config | ansible.builtin.to_json }}
{%- endmacro -%}
