---
- name: deploy sing-box tproxy
  hosts: "{{ playbook_hosts | default('sing-box-tproxy') }}"
  become: true

  pre_tasks:
    - name: run pre-flight validation checks
      ansible.builtin.import_tasks: tasks/pre_flight_checks.yaml
      vars:
        sub_types: ['inline', 'local', 'remote']
        sub_formats: ['sing-box', 'sip002']

  tasks:
    - name: install sing-box package
      ansible.builtin.import_role:
        name: sing_box_install

    - name: setup sing-box-config timer
      ansible.builtin.import_role:
        name: sing_box_config

    - name: setup sing-box-tproxy
      when: sing_box_mode in ['local', 'gateway']
      ansible.builtin.import_role:
        name: sing_box_tproxy
